@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s ease;
}

body { 
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 3; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@font-face {
    font-family: Kollektif-Bold;
    src: url(../build/static/fonts/Kollektif-Bold.ttf)
}

@font-face {
    font-family: Kollektif-Italic;
    src: url(../build/static/fonts/Kollektif-Italic.ttf)
}

@font-face {
    font-family: Kollektif-BoldItalic;
    src: url(../build/static/fonts/Kollektif-BoldItalic.ttf)
}

@font-face {
    font-family: Kollektif;
    src: url(../build/static/fonts/Kollektif.ttf)
}
